.background{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.sign{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    width: 100%;
}

.sign-up-style{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 540px;
    padding: 0px 30px;
    height: 80vh;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #FFF;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #666;
    transition: all .5s;
}

.S-up-headText{
    display: flex;
    font-family: Sono;
    font-weight: bold;
    color: #FFF;
    font-size: 40px;
    margin-top: 20px;
}

.S-up-information{
    display: flex;
    flex-direction: column;
}

.S-up-main-text{
    display: flex;
    font-size: 16px;
    margin-bottom: 5px;
}

.S-up-textBox{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    border: none;
    outline: none;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

.S-up-textBox::placeholder{
    color: #666;
}

.submit-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 300px;
    height: 40px;
    background-color: #c9e2c5;
    color: #FFF;
    border: 2px solid #c9e2c5;
    border-radius: 500px;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: all .5s;
}

.submit-btn:hover{
    background-color: #FFF;
    color: #c9e2c5;
}

.move-to-sign-in{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#check{
    display: none;
}

.S-up-text{
    display: flex;
    font-size: 17px;
}

.S-up-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    background-color: #c9e2c5;
    color: #FFF;
    border: 2px solid #c9e2c5;
    border-radius: 500px;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 18px;
    transition: all .5s;
}

.S-up-btn:hover{
    background-color: #FFF;
    color: #c9e2c5;
}

.arrow{
    font-size: 20px;
}

.S-up-btn:hover .arrow{
    animation: moving-right 1s;
    animation-iteration-count: infinite;
}

@keyframes moving-right {
    0% {transform: translateX(0px);}
    50% {transform: translateX(20px);}
    100% {transform: translateX(0px);}
}



#check:checked ~ .sign-up-style{
    transform: translateX(-540px);
    opacity: 0;
}

#check:checked ~ .sign-in-style{
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
}

.sign-in-style{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 540px;
    padding: 0px 30px;
    height: 80vh;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid #FFF;
    box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #666;
    transform: translateX(540px);
    opacity: 0;
    visibility: hidden;
    transition: .5s all,visibility .1s;
}

.S-in-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 40px;
    background-color: #c9e2c5;
    color: #FFF;
    border: 2px solid #c9e2c5;
    border-radius: 500px;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 18px;
    transition: all .5s;
}

.S-in-btn:hover{
    background-color: #FFF;
    color: #c9e2c5;
}

.arrow-reverse{
    font-size: 20px;
}

.S-in-btn:hover .arrow-reverse{
    animation: moving-left 1s;
    animation-iteration-count: infinite;
}

@keyframes moving-left {
    0% {transform: translateX(0px);}
    50% {transform: translateX(-20px);}
    100% {transform: translateX(0px);}
}








@media (max-width: 800px) {
    
.sign{
    margin: 0;
}

.sign-up-style,.sign-in-style{
    width: 100%;
    height: 100vh;
    border: none;
    border-radius: 0;
}

}